[user]
	email = jonas.ulrich@ruhmesmeile.com
    name = Jonas Ulrich | ruhmesmeile GmbH
	signingkey = 2E73EE475DDE7D23

[core]
    filemode = false
    pager = delta
[pull]
    rebase = false
[init]
	defaultBranch = master
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true
[merge]
    conflictstyle = zdiff3
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
